<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <h2>About {{name}}</h2>
        <p>Created By Armant, in Node course</p>
        <img class="portrait" src="/img/pic.png">
    </div>

    {{>footer}}
</body>

</html>