<!DOCTYPE html>
<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>The help your looking for</p>
    </div>

    {{>footer}}
</body>

</html>